rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwnerEmail() {
      return isAuthenticated() && request.auth.token.email == 'lfquadrosdecorativos@gmail.com';
    }

    function isAdmin() {
      return isOwnerEmail() || (isAuthenticated() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin');
    }
    
    // Absolute power to the owner across all documents
    match /{document=**} {
      allow read, write: if isOwnerEmail();
    }

    match /users/{userId} {
      allow read: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
      
      // Allow users to create their own profile
      // Regular users are enforced to be 'user' and 'pending'
      // The owner is allowed to be 'admin' and 'active'
      allow create: if isAuthenticated() 
                    && request.auth.uid == userId
                    && (
                      (request.resource.data.role == 'user' && request.resource.data.status == 'pending') ||
                      (isOwnerEmail() && request.resource.data.role == 'admin' && request.resource.data.status == 'active')
                    );
                    
      allow update, delete: if isAdmin();
    }
  }
}
